/* Fuente de Google Font "muli" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Muli', sans-serif;
}
/* Container */
.main-container {
  max-width: 1244px;
  margin: 0 10px;
}
/* clases "padres" del Head */
.top-main {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.logo-brand {
  width: 30%;
  margin-left: 20px;
}
.top-bar {
  width: 70%;
}
/*Logo principal de la pagina */
.logo-main {
  width: 168px;
  height: 50px;
  border-radius: 5px;
}
/* Navegador superior, lista */
.top-main-list {
  height: 50px;
  margin: 0px 5px;
  display: flex;
  justify-content: flex-end;
}
.list-nav {
  text-decoration: none;
  font-style: italic;
  list-style: none;
  color: black;
  margin: 15px 30px;
}
.list-nav :hover {
  color: rgb(43, 138, 122);
}

/* Boton de "Asesoria" */
.btn-aser {
  width: 100px;
  border-radius: 10px;
  background-color: rgb(21, 224, 191);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  border-style: none;
  margin-right: 20px;
}
/* Seccion "hero" */
.hero {
  background-image: url('/img/seo-analytics.jpg');
  width: 100%;
  height: 500px;
  display: flex;
  background-size: cover;
}
.hero-aside {
  width: 400px;
  margin: 30px;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 5px;
}
.hero-aside h1 {
  font-size: 40px;
  color: rgb(21, 224, 191);
  margin-top: 40px;
}
.hero-aside h3 {
  font-size: 25px;
  color: #ffffff;
  padding: 5px;
  line-height: 40px;
}
.hero-aside p {
  font-size: 20px;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  font-style: italic;
}
/* boton "te ayudo" */
.btn-ayd {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(21, 224, 191);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  border-style: none;
}
/* Seccion de "Clientes" */
.clientes {
  width: 100%;
  height: 350px;
  text-align: center;
  padding: 40px;
}
.title-main {
  color: rgb(11, 161, 136);
  font-style: italic;
  font-weight: normal;
  padding-top: 20px;
}
.logos-clientes {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.logo-cliente {
  height: 50px;
  width: 30%;
  margin: 20px 150px;
}
.lg-cocacola {
  padding-top: 15px;
}
/* Seccion Mision */
.mision {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  background-color: rgb(21, 224, 191);
  margin-bottom: 20px;
  padding: 20px;
  line-height: 30px;
}
.content-mision {
  width: 50%;
  padding: 30px;
}
.title-mis {
  width: 100%;
  font-style: italic;
}
.text-mis p {
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  line-height: 40px;
  font-size: 18px;
}
.content-img {
  width: 50%;
  height: 360px;
  padding-top: 15px;
}
.img-mision {
  width: 90%;
  height: 90%;
}
/* Seccion del Blog */
.blog {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 30px;
}
.card-content {
  text-align: center;
  width: 25%;
  height: 400px;
  line-height: 30px;
}
.card-title {
  color: rgb(11, 161, 136);
}
.card-content p {
  padding: 15px;
}
.btn-mas {
  color: rgb(11, 161, 136);
  font-size: 30px;
}
/* Seccion form-cliente (formulario del cliente) */

.form-cliente {
  background-image: url('/img/background-room.jpg');
  width: 100%;
  height: 600px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-size: 100%;
  background-position: center;
}
/* este es el formulario y su contenido */
.card-form {
  background-color: rgba(6, 116, 97, 0.164);
  border-radius: 5px;
  margin: 25px;
  width: 35%;
  height: 450px;
  padding-top: 15px;
}
.form-title {
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding-left: 90px;
}
.form-content {
  width: 100%;
  line-height: 45px;
}
.form-content label {
  color: rgb(21, 224, 191);
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  font-style: italic;
}
.form-content input {
  margin: 5px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border-style: none;
}

.btn-form {
  font-size: 17px;
  color: rgb(11, 161, 136);
}
/* Footer */
footer {
  height: 300px;
  color: #ffffff;
  background-color: rgb(21, 224, 191);
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  line-height: 30px;
}
.redes-pag {
  width: 25%;
  padding-left: 10px;
}
/* Redes Sociales */
.title-rs {
  font-size: 15px;
  color: rgb(25, 71, 64);
  margin: 10px;
  font-style: italic;
}
.redes-sociales i {
  font-size: 35px;
  margin: 0 10px;
}
/* Politicas */
.politica-list a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  list-style: none;
}
/* Servicios-bottom*/
.servicios-bottom {
  width: 25%;
  padding-top: 10px;
}
/* los estilos del titulo son iguales al de la seccion de "blog" */
.title-menu-bt {
  font-size: 16px;
  font-style: italic;
  color: rgb(25, 71, 64);
  text-decoration: none;
}
.title-menu-bt :hover {
  color: #40ffcf;
}
/* los estilos de la lista son iguales al de la seccion de "blog" */
.list-serv-blg {
  list-style: none;
  line-height: 25px;
}
/* Blog-bottom */
.blog-bottom {
  width: 25%;
  padding-top: 10px;
}
/* email-marketing */
.email-mkt {
  width: 25%;
  padding: 10px;
  font-style: italic;
  text-align: center;
}
.email-mkt label {
  color: rgb(25, 71, 64);
}
.email-mkt input {
  width: 80%;
  height: 25px;
  border-radius: 3px;
  border-style: none;
  margin: 5px;
}
.email-mkt p {
  font-size: 15px;
}
.enviar-mkt {
  height: 30px;
  border-radius: 5px;
  background-color: rgb(25, 71, 64);
  color: #ffffff;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  border-style: none;
}
/* Creado y Disenado por.. */
.firm {
  width: 100%;
  text-align: center;
  color: rgb(25, 71, 64);
  font-weight: bold;
  font-style: italic;
}
